<!doctype html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="robots" content="index, follow, archive" />
    <meta name="referrer" content="always" />

    <!-- Content -->
    <meta name="description" property="description"
          content="<%= description %>" />
    <meta name="author" content="<%= author %>" />

    <title><%= title %></title>

    <!-- Stylesheets -->
    <link media="all" rel="stylesheet" type="text/css"
          href="stylesheets/main.css" />
</head>
<body>
    <article id="presentation">
    <% for slide in slides %>
        <section>
            <%= slide[:document] %>
        </section>
    <% end %>
    </article>

    <!-- Javascripts -->
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script>hyhyhy.from('#presentation', { bullets: "li, .bullet", hash: true, keys: true, fullscreen: true, progress: true, scale: true, state: true, touch: true });</script>
</body>
</html>